node_modules/
# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/config/91club.sql
src/config/importSql.js

