<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>77 Super Games</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
        .customer {
      position: fixed;
      bottom: 2.4rem;
      right: .4rem;
      width: 1.49333rem;
      height: 1.49333rem;
      border-radius: 50%;
      z-index: 100
    }

    .customer img {
      width: 100%;
      height: 100%;
      border-radius: 50%
    }

        .mian[data-v-3966082f] {
            background-color: #fbfcfd
        }

        .mian .box[data-v-3966082f] {
            padding: .4rem
        }

        .mian .box .list[data-v-3966082f] {
            background: transparent;
            border-radius: .4rem;
            overflow: hidden
        }

        .mian .box .list .item[data-v-3966082f] {
            padding: .26667rem .4rem;
            background: rgba(254, 247, 247, .68)
        }

        .mian .box .list .item .money[data-v-3966082f] {
            font-size: .4rem;
            color: #fb4e4e
        }

        .mian .box .list .item .money.action[data-v-3966082f] {
            color: #6abe57
        }

        .mian .box .list .item .number[data-v-3966082f],
        .mian .box .list .item .time[data-v-3966082f] {
            font-size: .32rem;
            color: #000
        }

        .mian .box .list .item .number[data-v-3966082f] {
            font-size: .4rem
        }

        .mian .box .list .item .number .btn[data-v-3966082f] {
            padding: .13333rem .26667rem;
            font-size: .32rem;
            margin-left: .26667rem;
            border-radius: .13333rem;
            background-color: #ffce1f;
            color: #fff
        }

        .mian .box .list .item .state[data-v-3966082f] {
            text-align: center;
            font-weight: 600
        }

        .mian .box .list .item .txt[data-v-3966082f] {
            text-align: center
        }

        html {
            -webkit-tap-highlight-color: transparent
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif
        }

        a {
            text-decoration: none
        }
        .rechargeh__container-content[data-v-a774625f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .26667rem;
    margin-top: .56rem;
    margin-bottom: .4rem;
}
.rechargeh__container-content__item[data-v-a774625f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .21333rem;
    padding: .32rem .13333rem;
    border-radius: .13333rem;
    background-color: #fff;
    box-shadow: 0 .05333rem .21333rem #d0d0ed5c;
}.rechargeh__container-content__item-header[data-v-a774625f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}.rechargeh__container-content__item-header .recharge_tit[data-v-a774625f] {
    min-width: 2rem;
    margin-left: .13333rem;
    color: #fff;
    background: #34be8a;
    border-radius: .13333rem;
    font-size: .37333rem;
    line-height: .66667rem;
    height: .66667rem;
    text-align: center;
}.rechargeh__container-content__item-header .recharge[data-v-a774625f] {
    color: #598ff9;
}
.rechargeh__container-content__item-header .recharge_right[data-v-a774625f] {
    font-size: .34667rem;
}.van-icon {
    position: relative;
    display: inline-block;
    font: .18667rem / 1 vant-icon;
    font: normal normal normal .18667rem / 1 var(--van-icon-font-family, "vant-icon");
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}.rechargeh__container .divier[data-v-a774625f] {
    margin: .02667rem 0;
}
.van-divider {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: var(--van-divider-margin);
    color: var(--van-divider-text-color);
    font-size: var(--van-divider-font-size);
    line-height: var(--van-divider-line-height);
    border-color: var(--van-divider-border-color);
    border-style: solid;
    border-width: 0;
}.rechargeh__container-content__item-body[data-v-a774625f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .13333rem;
    font-size: .32rem;
    color: #666;
}.rechargeh__container-content__item-body>div[data-v-a774625f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: .29333rem;
    padding: 0 .26667rem;
}
.rechargeh__container-content__item-body>div span[data-v-a774625f]:first-of-type {
    color: #888;
    font-size: .34667rem;
}
.rechargeh__container-content__item-body>div .order img[data-v-a774625f] {
    width: .42667rem;
    height: .42667rem;
}


        .navbar[data-v-106b99c8] {
            width: 100%;
            max-width: 10.66667rem;
            top: 0;
            height: 1.33333rem;
            line-height: 1.33333rem;
            background: #eb8a1f;
            box-shadow: inset 0rem 0rem 1rem 0rem #65006100;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            color: #fff;
            z-index: 999;
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div class="customer" id="customerId" draggable="true" onclick="location.href='/keFuMenu'" style="--76181987: 'Roboto', 'Inter', sans-serif; --17a7a9f6: bahnschrift;">
        <img class="" data-origin="/assets/png/icon_sevice-9f0c8455.png" src="/assets/png/icon_sevice-9f0c8455.png">
    </div>
    <div id="app">
        <div data-v-3966082f="" class="mian">
            <div data-v-106b99c8="" data-v-3966082f="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet/recharge'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back">
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Deposit History</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-3966082f="" class="box">
                <div data-v-3966082f="" class="list m-b-20">
                    <div data-v-3966082f="" role="feed" class="van-list">
                      
                        <div class="lisys">

                        </div>
                        <div class="van-list__finished-text" style=" padding: 21px;margin: 25px;">

                            No More Data Available

                            <img data-v-91f2fefc="" alt="" class=""
                                data-origin="https://9987up.co/assets/png/empty-23ebbe20.png"
                                src="https://9987up.co/assets/png/empty-23ebbe20.png"
                                style="width: 4rem;height: 3.71427rem; margin-bottom: .24667rem;">

                        </div>


                        <div class="van-list__placeholder"></div>
                    </div>
                </div>
            </div>
            <div data-v-7692a079="" data-v-3966082f="" class="Loading c-row c-row-middle-center" style="display: none;">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: rgb(242, 65, 59);">
                        <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function formateT(params) {
            let result = (params < 10) ? "0" + params : params;
            return result;
        }

        function timerJoin(params = '') {
            let date = '';
            if (params) {
                date = new Date(Number(params));
            } else {
                date = new Date();
            }
            let years = formateT(date.getFullYear());
            let months = formateT(date.getMonth() + 1);
            let days = formateT(date.getDate());

            let hours = formateT(date.getHours());
            let minutes = formateT(date.getMinutes());
            let seconds = formateT(date.getSeconds());
            return years + '-' + months + '-' + days + ' ' + hours + '-' + minutes + '-' + seconds;
        }
        function loads(datas) {
            let html = datas.map((data) => {
                return `
                <div data-v-a774625f="" class="rechargeh__container-content">
                            <div data-v-a774625f="" class="rechargeh__container-content__item">
                                <div data-v-a774625f="" class="rechargeh__container-content__item-header"><span
                                        data-v-a774625f="" class="recharge_tit" onclick="location.href='/wallet/recharge'">Deposit</span>
                                    <div data-v-a774625f="" class="recharge_right recharge"> <span data-v-3966082f="" style="color: ${(data.status == 1) ? 'rgb(106, 190, 87)' : 'rgb(242, 65, 59)'}"> ${(data.status == 0) ? 'Waiting' : (data.status == 1) ? 'Success' : 'Canceled'}</span>
                                    </div>
                                </div>
                                <div data-v-a774625f="" role="separator"
                                    class="van-divider van-divider--hairline divier">
                                    <!---->
                                </div>
                                <div data-v-a774625f="" class="rechargeh__container-content__item-body">
                                    <div data-v-a774625f=""><span data-v-a774625f="">Balance</span><span
                                            data-v-a774625f="" class="price"> ${data.money}.00 ₹</span></div>
                                    <div data-v-a774625f=""><span data-v-a774625f="">Type</span><span
                                            data-v-a774625f="">${data.type}</span></div>
                                    <div data-v-a774625f=""><span data-v-a774625f="">Time</span><span
                                            data-v-a774625f="" class"time"">${timerJoin(data.time)}</span></div>
                                    <div data-v-a774625f=""><span data-v-a774625f="">Order number</span>
                                        <div data-v-a774625f="" class="order number" data-clipboard-text="${data.id_order}"><span
                                                data-v-a774625f=""> ${data.id_order}</span><img data-v-a774625f=""
                                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEUAAACvsMetr8Wqr8KusMausMarr8OvsMevsMavscelr8WusMausMausMasr8ausMY46WCNAAAAD3RSTlMAn2Ag75BAv69/EN/Pv1Dhl63OAAAAc0lEQVQoz2MgDqwUhAJRA4jA+f8w4Azms/1WggKNr2ABpo9AAsHCFEhS/A5Wr2cAEWCHm/gTIqDvCLVT4v8CsIC8Alg7mDWMBApFPqEK/P9/AVVASI0BzQwGrALxTbBI2J8AFjCBh+kfiELmQFhEziIu4gFZQkr21tMcBQAAAABJRU5ErkJggg=="
                                                alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    `;
            })
            $('.van-list .lisys').html(html);
            $('.number').click(function (e) {
                e.preventDefault();
                let text = $(this).text().trim();
                navigator.clipboard.writeText(text);
                $(this).addClass('block-click');
                alertMess('Copy successful', $(this));
            });
        }
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" sstyle=""> ${text} </div>
                 </div>
                 `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $.ajax({
            type: "GET",
            url: "/api/webapi/recharge/list",
            dataType: "json",
            success: function (response) {
                console.log(response.datas);
                if (response.datas.length == 0) return;
                loads(response.datas);
            }
        });
        // Get the draggable element
    var draggableElement = document.getElementById('customerId');
    
    // Variables to store mouse position
    var offsetX = 0;
    var offsetY = 0;

    // Function to handle touch start event
    function handleTouchStart(e) {
        offsetX = e.touches[0].clientX - draggableElement.getBoundingClientRect().left;
        offsetY = e.touches[0].clientY - draggableElement.getBoundingClientRect().top;
    }

    // Function to handle touch move event
    function handleTouchMove(e) {
        e.preventDefault();
        var x = e.touches[0].clientX - offsetX;
        var y = e.touches[0].clientY - offsetY;
        
        // Update the position of the draggable element
        draggableElement.style.left = x + 'px';
        draggableElement.style.top = y + 'px';
    }

    // Add event listeners for touch events
    draggableElement.addEventListener('touchstart', handleTouchStart, false);
    draggableElement.addEventListener('touchmove', handleTouchMove, false);
    </script>
</body>

</html>